<mjml>
  <mj-body background-color="#d6dde5">
    <mj-section padding-bottom="20px" padding-top="20">
      <mj-column width="66.66666666666666%" vertical-align="middle">
        <mj-text align="left" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0"><span style="font-size: 11px">{subject}</span></mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="middle">
        <mj-text align="right" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0"><span style="font-size: 11px"><a href="https://mjml.io" style="text-decoration: none; color: inherit;">{webview_text}</a></span></mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="20px" padding-top="20">
      <mj-column width="100%" vertical-align="top">
        <mj-image href="https://mjml.io" src="{{ getAssetUrl('themes/'~template~'/assets/japanese-breakfast-paprika-single.jpeg', null, null, true) }}" alt="Paprika logo" align="center" border="none" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">Michelle Zauner
           </mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">READ HER BOOK
           </mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">Crying in H Mart
           </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="10px" padding-top="10">
      <mj-column width="100%" vertical-align="top">
      <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/paprika-japanse-breakfast.png', null, null, true) }}" alt="Japanese Breakfast Paprika" align="center" border="none" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
        <mj-text align="left" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
          <p><span style="color: green;font-weight: bold;font-size: 24px;">Japanese Breakfast Is Great</span></p>
          <p><span style="color: green;font-size: 16px;line-height: 1.5";>Seriously, if you have not checked out the album Jubilee, go check it out! <br/><br/>They are really great live too
</span></p>
        </mj-text>
      </mj-column>
            <mj-section>
      <mj-column>
        <mj-divider border-width="3px" border-style="solid" border-color="red" />
      </mj-column>
    </mj-section>
      <mj-section>
        <mj-column width="33.33333333333333%" vertical-align="top">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/Psychopomp.jpeg', null, null, true) }}" alt="Psychopomp album by Japanese Breakfast" align="center" border="none" width="180px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">Psychopomp album by Japanese Breakfas
           </mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/Soft_Sounds_from_Another_Planet.png', null, null, true) }}" alt="Soft Sounds from Another Planet album by Japanese Breakfast" align="center" border="none" width="180px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="14px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">Soft Sounds from Another Planet album by Japanese Breakfast
           </mj-text>
      </mj-column>
      <mj-column width="33.33333333333333%" vertical-align="top">
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/where-is-my-great-big-feeling.jpeg', null, null, true) }}" alt="Where Is My Great Big Feeling album by Japanese Breakfast" align="center" border="none" width="180px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0"></mj-image>
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">Where Is My Great Big Feeling album by Japanese Breakfast
           </mj-text>
      </mj-column>
      </mj-section>
      <mj-section>
        <mj-column width="50%" vertical-align="top">
        <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="22px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10" font-weight="bold">Japanese Breakfast is awesome
           </mj-text>
                  <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="14px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10">Japanese Breakfast is awesome.
           </mj-text>
          <mj-text align="center" color="green" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="14px" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10"><a href="#">Japanese Breakfast is awesome</a>
           </mj-text>
            </mj-column>mj-column>
          <mj-column width="50%" vertical-align="top">
          <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/june-japanese-breakfast.jpeg', null, null, true) }}" alt="June Japanese Breakfast album" align="center" border="none" width="290px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0">
            </mj-image>
        </mj-column>
      </mj-section>
      <mj-section>
      <mj-column>
        <mj-divider border-width="3px" border-style="solid" border-color="red" />
      </mj-column>
    </mj-section>
      <mj-section background-color="#ffffff" padding-bottom="10px" padding-top="10">
      <mj-column width="100%" vertical-align="top">

        <mj-text align="left" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="13px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="20">
          <p><span style="color: green;font-weight: bold;font-size: 24px;">Japanese Breakfast is an awesome band!</span></p>
          <p><span style="color: green;font-size: 16px;line-height: 1.5";>They are the best band you might not be listening to right now.
</span></p>
        </mj-text>
                <mj-button background-color="green" color="#FFFFFF" font-size="13px" align="center" vertical-align="middle" border="none" padding="15px 30px" border-radius="3px" href="http://japanesebreakfast.rocks/" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif"
          padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="10">LEARN MORE</mj-button>
      </mj-column>
      </mj-section>
    <mj-section background-color="#ffffff" padding-bottom="0px" padding-top="0">
      <mj-column width="100%" vertical-align="top">
        <mj-social padding-top="20px">
          <mj-social-element name="facebook" href="[[SHORT_PERMALINK]]"> </mj-social-element>
          <mj-social-element name="twitter" href="[[SHORT_PERMALINK]]"> </mj-social-element>
          <mj-social-element name="google" href="[[SHORT_PERMALINK]]"> </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="20">
      <mj-column width="100%" vertical-align="middle">
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0">
          <p style="font-size:11px">Go buy Japanese Breakfast albums!</p>
        </mj-text>
        <mj-text align="center" color="#000000" font-family="Ubuntu, Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif" font-size="11px" padding-left="25px" padding-right="25px" padding-bottom="0px" padding-top="0">
          <p style="font-size:11px">{unsubscribe_text}</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>